<footer>
    <div class="list">
        <ul>
            <li><a href = "http://ieduvil.com/">Eduvil</a></li>
            <li><a href = "http://crepasedu.com/">Crepas</a></li>
            <li><a href = "#">소개</a></li>
            <li><a href = "#">도움말</a></li>
            <li><a href = "#">홍보 센터</a></li>
        </ul>
        <ul>
            <l1>강남구 역삼동 선릉로 325 중앙빌딩 3층</li> (주)에듀빌 창의적열정 교육연구소</li>
        </ul>
        <ul>
            <li>Tel : 02.555.7907</li><li>Fax : 02.6455.3049</li>
    </div>
    <div class="company">
        @ 2008 eduvil, LTD.AllRights Reserved
    </div>
</footer> 